html, body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

#left-panel-menu {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
}

#fixed-navbar {
  background-color: #9ecd33ff;
  color: white;
}

.menu-list a {
  color: white;
}

.menu-list a:hover {
  color: #9ecd33ff;
}


.menu-list a.is-active {
  background-color: #9ecd33ff;
}

.nav-item a, a.nav-item {
  color: white;
}

#nav-title {
  font-size: 20px;
}

#home-hero {
  background-color: #e3ffaf;
  margin: 20px;
  border-radius: 5px;
}

.margin20 {
  margin: 20px;
}
